html{
    height: 100%;
    background-color: white;
}

body {
    overscroll-behavior: none;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border: 3px solid black;
    border-radius: 6mm;
    background-color: white;
    animation: bcg 2s infinite;
    background-size: contain;
    background-repeat: no-repeat;
}

.game{
    animation: gamebcg 2s 1;
    background-image: url("./imgs/Cyril.png");
}

.gameover{
    animation: overbcg 1s 1;
}

.restart{
    animation: restart 2s infinite;
}

@keyframes restart{
    0%{background-image:  url("./imgs/gameover.png");}
    50%{background-image:  url("./imgs/bcg.png");}
    100%{background-image:  url("./imgs/gameover.png");}
}

@keyframes overbcg{
    0%{background-image:  url("./imgs/Cyril.png");}
    100%{background-image:  url("./imgs/bcg.png");}
}

@keyframes gamebcg{
    0%{background-image:  url("./imgs/menu-blank.png");}
    100%{background-image:  url("./imgs/Cyril.png");}
}

@keyframes bcg{
    0%{background-image:  url("./imgs/menu-blank.png");}
    50%{background-image:  url("./imgs/menu-con.png");}
    100%{background-image:  url("./imgs/menu-blank.png");}
}